:root {
    --background-main: #fff;
    --background-secondary: #16151A;
    --background-third: #F4F4F4;
    --main-color: #F14105;
    --secondary-color: #676767;
    --main-color-desarutated: #F2DCDF;
    --main-color-saturated: #d83b06;
    --table-color: #d1d1d1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #16151A;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar-sticky {
    position: sticky;   
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: aliceblue;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo {
    font-size: 2rem;
    margin-right: 5px;
    margin-bottom: 100px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: white;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li, .admin {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a, .sidebar .admin a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.4rem;
}

.sidebar .admin a {
    justify-content: flex-end;
}

.sidebar ul li a:hover {
    background-color: white;
    color: #16151A;
}

.sidebar ul li a i,
.sidebar .admin a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    background-color: white;
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: white;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.nav-list, .admin {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-path {
    border-bottom: 1px solid #f0ecec;
    padding: 1rem;
}

.container-path-pages {
    color: #676767;
}

.container-main {
    padding: 1rem;
}